<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Tables
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" (click)="gotoDashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Tables
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row" *ngIf="unfollowerReports != undefined">
        <div class="col-xl-6 col-lg-12">
            <h2>Unfollowers</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#unfollowerReport of unfollowerReports">
                            <td><img src="{{ unfollowerReport.twitterUser.miniProfileImageURL}}" />{{ unfollowerReport.twitterUser.screenName}}</td>
                            <td></td>
                            <td>{{ unfollowerReport.createdAt | date:'medium'}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="followerReports != undefined">
        <div class="col-xl-6 col-lg-12">
            <h2>Followers</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#followerReport of followerReports">
                            <td><img src="{{ followerReport.twitterUser.miniProfileImageURL}}" />{{ followerReport.twitterUser.screenName}}</td>
                            <td></td>
                            <td>{{ followerReport.createdAt | date:'medium'}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>