<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Settings
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" (click)="gotoDashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Settings
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

            <form (ngSubmit)="onSubmit()" #settingsForm="ngForm" *ngIf="user != undefined">
                
                <fieldset>
                    <label>Send auto message to new follower? </label>
                    <div class="btn-group">
                        <label class="btn btn-primary" [(ngModel)]="sendAutoMessageToNewFollowerRadioModel" btnRadio="true">ON</label>
                        <label class="btn btn-primary" [(ngModel)]="sendAutoMessageToNewFollowerRadioModel" btnRadio="false">OFF</label>
                    </div>
                </fieldset>
            
                <fieldset>
                    <label>Warn with email? </label>
                    <div class="btn-group">
                        <label class="btn btn-primary" [(ngModel)]="warnWithEmailRadioModel" btnRadio="true">ON</label>
                        <label class="btn btn-primary" [(ngModel)]="warnWithEmailRadioModel" btnRadio="false">OFF</label>
                    </div>
                </fieldset>

                <fieldset>
                    <label>Mention unfollower in tweet? </label>
                    <div class="btn-group">
                        <label class="btn btn-primary" [(ngModel)]="mentionOldFollowerInTweetRadioModel" btnRadio="true">ON</label>
                        <label class="btn btn-primary" [(ngModel)]="mentionOldFollowerInTweetRadioModel" btnRadio="false">OFF</label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>New Follower's minimum follower count : </label>
                    <input type="text" [(ngModel)]="user.preferences.newFollowerFollowerCount" ngControl="newFollowerFollowerCount"  #newFollowerFollowerCount="ngForm" class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <label>New Follower auto message content : </label>
                    <input type="text" [(ngModel)]="user.preferences.newFollowerAutoMessageContent" ngControl="newFollowerAutoMessageContent"  #newFollowerAutoMessageContent="ngForm" class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <label>Unfollower's minimum follower count : </label>
                    <input type="text" [(ngModel)]="user.preferences.leftFollowerFollowerCount" ngControl="leftFollowerFollowerCount"  #leftFollowerFollowerCount="ngForm" class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <label>Goodbye tweet content : </label>
                    <input type="text" [(ngModel)]="user.preferences.goodByeTweetContent" ngControl="goodByeTweetContent"  #goodByeTweetContent="ngForm" class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <label>Unwanted username patterns : </label>
                    <input type="text" [(ngModel)]="unwantedUsernamePatternObj.pattern" ngControl="pattern"  #pattern="ngForm" class="form-control">
                </fieldset>

                <button type="button" (click)="updatePreferences()" class="btn btn-secondary">Update</button>

            </form>
        </div>
    </div>
    <!-- /.row -->

</div>